.mt-190 {
    margin-top: 190px;
}

.hcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}


.no-border {
    border-width: 0px !important;
}

.no-shadow {
    box-shadow: none !important;
}

.mt-50 {
    margin-top: 50px;
}
